header
    nav.navbar.navbar-expand-md.navbar-light.bg-white.navbar-blitz
        a.navbar-brand(href="#")
            img(src="" width="60" height="30" alt="blitz-logo")
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse.justify-content-end#navbarSupportedContent
            ul.navbar-nav.justify-content-around
                li.nav-item.nav-item-blitz
                    a.nav-link.active(href="#")
                        div.nav-link-sub-blitz
                            small HOMEPAGE
                        div.nav-link-main-blitz HOME
                li.nav-item.nav-item-blitz
                    a.nav-link(href="#")
                        div.nav-link-sub-blitz
                            small WHO ARE WE?
                        div.nav-link-main-blitz ABOUT
                li.nav-item.nav-item-blitz
                    a.nav-link(href="#")
                        div.nav-link-sub-blitz
                            small MY PORTFOLIO
                        div.nav-link-main-blitz PROJECTS
                li.nav-item.nav-item-blitz
                    a.nav-link(href="#")
                        div.nav-link-sub-blitz
                            small LATEST NEWS
                        div.nav-link-main-blitz BLOG
                li.nav-item.nav-item-blitz
                    a.nav-link(href="#")
                        div.nav-link-sub-blitz
                            small GET IN TOUCH
                        div.nav-link-main-blitz CONTACT
