header
    nav.navbar.navbar-expand-md.navbar-light.bg-light
        a.navbar-brand(href="#")
            img(src="" width="60" height="30" alt="blitz-logo")
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse.justify-content-end#navbarSupportedContent
            ul.navbar-nav.justify-content-around
                li.nav-item
                    a.nav-link(href="#")
                        div HOMEPAGE
                        div HOME
                li.nav-item
                    a.nav-link(href="#")
                        div WHO ARE WE?
                        div ABOUT
                li.nav-item
                    a.nav-link(href="#")
                        div MY PORTFOLIO
                        div PROJECTS
                li.nav-item
                    a.nav-link(href="#")
                        div LATEST NEWS
                        div BLOG
                li.nav-item
                    a.nav-link(href="#")
                        div GET IN TOUCH
                        div CONTACT
