header
    nav.navbar.navbar-expand-md.bg-white
        a.navbar-brand(href="#")
            img(src="" width="60" height="30" alt="blitz-logo")
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse.justify-content-end#navbarSupportedContent
            ul.navbar-nav.justify-content-around
                li.nav-item
                    a.nav-link.active(href="#")
                        div.nav-link-sub
                            small HOMEPAGE
                        div.nav-link-main HOME
                li.nav-item
                    a.nav-link(href="#")
                        div.nav-link-sub
                            small WHO ARE WE?
                        div.nav-link-main ABOUT
                li.nav-item
                    a.nav-link(href="#")
                        div.nav-link-sub
                            small MY PORTFOLIO
                        div.nav-link-main PROJECTS
                li.nav-item
                    a.nav-link(href="#")
                        div.nav-link-sub
                            small LATEST NEWS
                        div.nav-link-main BLOG
                li.nav-item
                    a.nav-link(href="#")
                        div.nav-link-sub
                            small GET IN TOUCH
                        div.nav-link-main CONTACT
