section
    div.carousel.carousel-blitz.slide(data-ride="carousel")#slider
        div.carousel-inner
            ol.carousel-indicators.justify-content-end.mr-1.carousel-indicators-blitz
                li.active(data-target="#slider" data-slide-to="0")
                li(data-target="#slider" data-slide-to="1")
                li(data-target="#slider" data-slide-to="2")
                li(data-target="#slider" data-slide-to="3")
            div.carousel-item.carousel-item-blitz.active
                img.d-block.w-100(src="" alt="First slide")
                div.carousel-caption.d-block.w-100.carousel-caption-blitz
                    div.carousel-caption-blitz-onslide
                        div
                            small THIS MONTHS
                        div FEATURED WORK
                    div.carousel-caption-blitz-below-slide
                        h3 JESUS TYPOGRAPHY WALLPAPER
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus voluptas sit repellendus ut nulla rerum labore tempora corporis placeat, laborum, cum, animi dolor impedit blanditiis repellat ducimus ab maiores molestiae.
            div.carousel-item.carousel-item-blitz
                img.d-block.w-100(src="" alt="Second slide")
                div.carousel-caption.d-block.w-100.carousel-caption-blitz
                    div.carousel-caption-blitz-onslide
                        div
                            small LOREM IPSUM
                        div DOLOR SIT AMET
                    div.carousel-caption-blitz-below-slide
                        h3 REPELLENDUS UT NULLA RERUM
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus voluptas sit repellendus ut nulla rerum labore tempora corporis placeat, laborum, cum, animi dolor impedit blanditiis repellat ducimus ab maiores molestiae.
            div.carousel-item.carousel-item-blitz
                img.d-block.w-100(src="" alt="Third slide")
                div.carousel-caption.d-block.w-100.carousel-caption-blitz
                    div.carousel-caption-blitz-onslide
                        div
                            small LOREM IPSUM
                        div DOLOR SIT AMET
                    div.carousel-caption-blitz-below-slide
                        h3 REPELLENDUS UT NULLA RERUM
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus voluptas sit repellendus ut nulla rerum labore tempora corporis placeat, laborum, cum, animi dolor impedit blanditiis repellat ducimus ab maiores molestiae.
            div.carousel-item.carousel-item-blitz
                img.d-block.w-100(src="" alt="Fourth slide")
                div.carousel-caption.d-block.w-100.carousel-caption-blitz
                    div.carousel-caption-blitz-onslide
                        div
                            small LOREM IPSUM
                        div DOLOR SIT AMET
                    div.carousel-caption-blitz-below-slide
                        h3 REPELLENDUS UT NULLA RERUM
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus voluptas sit repellendus ut nulla rerum labore tempora corporis placeat, laborum, cum, animi dolor impedit blanditiis repellat ducimus ab maiores molestiae.
    article.container.features
        div.row
            div.col-md-4
                div.card
                    img.card-img-top.float-left(src="" alt="icon")
                    div.card-body
                        h4.card-title Card title
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                        a.card-link(href="#") &raquo; Go somewhere
            div.col-md-4
                div.card
                    img.card-img-top.float-left(src="" alt="icon")
                    div.card-body
                        h4.card-title Card title
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                        a.card-link(href="#") &raquo; Go somewhere
            div.col-md-4
                div.card
                    img.card-img-top.float-left(src="" alt="icon")
                    div.card-body
                        h4.card-title Card title
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                        a.card-link(href="#") &raquo; Go somewhere
    article.container.current-projects
        div.row
            header.col-md-12
                h3 MY LATEST WORK
        div.row
            div.col-md-3
                div.card
                    img.card-img-top(src="" alt="icon")
                    div.card-body
                        h4.card-title Card title
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                        a.card-link(href="#") &raquo; Go somewhere
            div.col-md-3
                div.card
                    img.card-img-top(src="" alt="icon")
                    div.card-body
                        h4.card-title Card title
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                        a.card-link(href="#") &raquo; Go somewhere
            div.col-md-3
                div.card
                    img.card-img-top(src="" alt="icon")
                    div.card-body
                        h4.card-title Card title
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                        a.card-link(href="#") &raquo; Go somewhere
            div.col-md-3
                div.card
                    img.card-img-top(src="" alt="icon")
                    div.card-body
                        h4.card-title Card title
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                        a.card-link(href="#") &raquo; Go somewhere